Package: com.yourcompany.snek
Name: snek
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Luca Marcelli
Author: Luca Marcelli
Section: Tweaks
