Package: com.ioncodes.snek
Name: snek
Depends: mobilesubstrate
Version: 0.1.0
Architecture: iphoneos-arm
Description: Forward your notifications to Windows, Mac OS X, Linux, Discord and Slack!
Maintainer: Luca Marcelli
Author: Luca Marcelli
Section: Tweaks
